<ion-header>
  <ion-navbar>
    <ion-title>Charts</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ng-container [ngSwitch]="songPacks?.length">
    <ion-card *ngSwitchCase="false">
      <ion-card-header>No Song Packs Found!</ion-card-header>
      <ion-card-content>
        <div>Perhaps you'd like to install one?</div>

        <song-pack-uploader></song-pack-uploader>
      </ion-card-content>
    </ion-card>

    <ng-container *ngSwitchCase="true">
      <ion-item-group *ngFor="let pack of songPacks">
        <ion-item-divider color="light">{{pack.name}}</ion-item-divider>
        <button ion-item *ngFor="let chart of pack.songs" (click)="navigateToChart(chart)">
          {{chart.headerSegment.title}}
          <chart-difficulty-badges [limitsOnly]="true" [chart]="chart" [segmentType]="'dance-single'" item-end></chart-difficulty-badges>
        </button>
      </ion-item-group>
    </ng-container>
  </ng-container>
</ion-content>