page-simple-chart-viewer {
    .simple-chart-measure-container {
        display: flex;
        flex: 1 1 auto;
        width: 100%;

        & > simple-chart-measure {
            width: 100%;
        }
    }
}
