<ion-header>
  <ion-navbar>
    <ion-title>{{chart?.headerSegment?.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding #content>
  <ng-container *ngIf="notes">
    <ion-list>
      <div class="simple-chart-measure-container" *ngFor="let measure of notes.measures">
        <simple-chart-measure [measure]="measure"></simple-chart-measure>
      </div>
    </ion-list>
  </ng-container>

  <ion-fab bottom right>
    <button ion-fab (click)="onClickTogglePlay()">
      <ion-icon [name]="isPlaying ? 'pause' : 'play'"></ion-icon>
    </button>
  </ion-fab>
</ion-content>