<ion-header>
  <ion-navbar>
    <ion-title>{{chart.headerSegment.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Styles</h1>
  <ion-item-group *ngFor="let type of getNotesSegmentTypes()">
    <ion-item-divider>{{type}}</ion-item-divider>
    <ion-item *ngFor="let level of getDifficultyLevelsForNotesSegmentType(type)" (click)="onClickSelectDifficulty(type, level)">
      {{level.class}}
      <ion-avatar item-start>
        <chart-difficulty-badge [level]="level"></chart-difficulty-badge>
      </ion-avatar>
    </ion-item>
  </ion-item-group>
</ion-content>